{% extends "base.html" %}



{% block content %}

<button><a href="/logout">Log Out</a></button>
<br>
<h1> To Do List App</h1>
<br>

{% if not user %}

    <form action="/login" method="post">
        <input type="text" name="user-name" placeholder="Enter your name"><br>
        <input type="email" name="user-email" placeholder="Enter your email"><br>
        <input type="password" name="user-password" placeholder="Enter your password"><br>
        <button>Log In</button>

{% else %}

        <a href="/task">Go to Tasks for {{ user.name }} </a>


{% endif %}



{% endblock content %}